.container{

}
.section-wrapper {
    display: flex;
    justify-content: space-between;
}

.price-btn {
    position: absolute;
    left: 0;
    bottom: 0px;
    font-size: 14px;
    position: absolute;
    background: #1693a5;
    padding: 10px 5px;
    color: #fff;
    width: 100%;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    text-align: center;
    transition: .4s;
    text-decoration: none;
}
.submit-btn{
    min-width: 180px;
    background: #1693a5;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 12px 25px;
    line-height: 1;
    text-shadow: none;
    box-shadow: none;
    margin-top: 20px;
    transition: all .3s linear;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    margin-left: auto;
    cursor: pointer;
    transition: .4s;
}
.submit-btn:hover{
    text-decoration: none;
    color: #fff;
    background: #1a1a1a;
}

.single-box {
    position: relative;
    margin-right: 5px;
}
.car-box {
    display: flex;
}

.single-box:hover .price-btn {
    padding: 15px 5px;
    color: #fff;
    text-decoration: none;

}

.single-box:before {
    content: '';
    background-color: #1a1a1aa1;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .4s;
}
.single-box:hover:before {
    opacity: 1;
}



/* Range Slider */
.budget-slider .text{
    font-family: 'Roboto Slab',serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}
.range-label{
    margin: 0 10px 10px 0;
    padding: 0;
    font-family: 'Roboto Slab',serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    display: inline-block;
    cursor: pointer;
    color: #1a1a1a;
}
.range-label:focus{
    outline: none;
    box-shadow: none;
}

.budget-slider .ui-slider-handle {
    width: 28px;
    height: 28px;
    top: -7px!important;
    margin-left: -14px!important;
}
.budget-slider .ui-state-default {
    border: none;
    background: #1a1a1a;
    border-radius: 50px;
}
.budget-slider .ui-state-default:focus {
    outline: none;
    box-shadow: none;
}
.budget-slider .ui-widget.ui-widget-content {
    border: none;
    background: #1693a5;
    border-radius: 50px;
}